<div id="<%= dom_id product %>" class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title fw-bold text-2xl"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
    <p class="card-text fw-bold"><%= number_to_currency(product.price) %></p>
  </div>
</div>